.height {
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding: 5px 15px;
}
.block-left {
  padding-left: 0;
}
.block-right {
  padding-right: 0;
}
a {
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
body {
  min-height: 500px;
}
.nav-menu {
  background-color: #222;
}
.nav-menu ul {
  margin: auto 5px;
}
.nav-menu ul li {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
}
.nav-menu ul li.active {
  background-color: black;
}
.nav-menu ul li.active a {
  color: #fff;
}
.nav-menu ul li a {
  color: #9d9d9d;
}
.nav-menu ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.left-menu {
  background-color: #444;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: auto 10px;
  height: 100%;
}
.left-menu ul li {
  border-bottom: 1px solid #666666;
  border-top: 1px solid #0e0e0e;
  padding: 10px;
}
.left-menu ul li.divider {
  background-color: #666666;
}
.admin-content {
  margin: 20px 0;
}
.admin-content table,
.admin-content th,
.admin-content td {
  border: 1px solid black;
  border-collapse: collapse;
}
.admin-content td,
.admin-content th {
  padding: 15px;
}
.admin-content .sizebar-left a {
  font-size: 25px;
  text-align: center;
}
.right-menu {
  padding: 30px 15px;
  background-color: #444;
  height: 100%;
  color: #fff;
}
.right-menu input {
  color: #000000;
}
