.type_16_reservation .vc_custom_1436823427497 {
  padding-top: 2.8rem !important;
  padding-bottom: 2.8rem !important;
  background-color: #f0f1f2 !important;
}
.type_16_reservation .vc_row {
  margin-bottom: 0;
}
.type_16_reservation .vc_row .vc_column-inner {
  padding-top: 0;
}
.type_16_reservation .vc_customer {
  position: relative;
  box-sizing: border-box;
  padding-left: 46.5px;
  padding-right: 46.5px;
}
.type_16_reservation .row:last-of-type {
  margin-bottom: 0 !important;
}
.type_16_reservation .form-control {
  border-color: rgba(102,114,121,0.25);
  color: #667279;
}
.type_16_reservation .btn {
  font-weight: 500;
  height: auto;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  outline: none !important;
  font-weight: bold;
}
.type_16_reservation .btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.type_16_reservation .btn-primary {
  background-color: #c0392b;
  border-color: #c0392b;
  color: #ffffff;
}
